@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  line-height: 1.4;
  background-color: #6464b2;
}

/* Header style */
.container{
  color:#ffffff;
  
  max-width: 720px;
  margin:3rem auto 0 auto;
}
.header{
  text-align: center;
  font-weight: 200;
}
#title{
  font-size: 2rem;
  font-weight: 400;
}
#survey-form{
  background-color:#292948;
  padding: 40px;
  border-radius: 5px;
}
label{
  display: flex;
}